* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

header {
  height: 80px;
  background-color: #373f48;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/* header {
  justify-self: center;
} */

/* header > *:second-child {
  justify-self: center;
} */

.menu {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 35px;
  margin-left: 200px;
  /* justify-self: center; */
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 16px;
}

.service {
  color: #e9cd7b;
}

.Logo {
  padding: 25px 60px;
}

.button {
  margin-left: 200px;
}

.mainspace {
  height: 1200px;
  background-color: #e5e5e5;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 164px;
}

.refs {
  padding-top: 40px;
}

h1 {
  padding-top: 83px;
}

.textspace {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  max-width: 1110px;
  padding-top: 97px;
  gap: 88px 180px;
}

.textspace > div {
  width: 240px;
  height: 90px;
}

.textspace > div > h2 {
  margin-bottom: 12px;
}
