* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

header {
  height: 80px;
  background-color: #373f48;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header {
  justify-self: center;
} */

/* header > *:second-child {
  justify-self: center;
} */

.menu {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 35px;
  /* margin-left: 200px; */
  /* justify-self: center; */
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.service {
  color: #e9cd7b;
  font-weight: 400;
}

.Logo {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 60px;
}

.buttonBorder > a {
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #e9cd7b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 44px;
  border: 1px solid #e9cd7b;
  border-radius: 4px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 60px;
}

.mainspace {
  height: 886px;
  background-color: #f1f1f1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* padding-left: 164px; */
}

.refs {
  display: flex;
  justify-content: space-between;
  width: 138px;
  padding-top: 40px;
  margin-left: 164px;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  color: #9b9fa3;
  font-weight: 300;
}

.refs > a {
  text-decoration: none;
  color: #9b9fa3;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
  color: #373f48;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 83px;
  margin-left: 164px;
}

.text {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #373f48;
}

.textspace {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  max-width: 1110px;
  padding-top: 97px;
  gap: 88px 180px;
  margin-left: 164px;
}

.textspace > div {
  width: 240px;
  height: 90px;
}

.textspace > div > h2 {
  margin-bottom: 12px;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #373f48;
}

hr {
  display: flex;
  width: 1240px;
  margin-left: 60px;
  border: 1px;
  height: 1px;
  background-image: linear-gradient(
    270deg,
    rgba(55, 63, 72, 0.1) 0%,
    rgba(55, 63, 72, 0.3) 50.5%,
    rgba(55, 63, 72, 0.1) 99.96%
  );
}

.zalivka {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  height: 315px;
}
.bottomspace {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 140px;
  padding-left: 164px;
  margin-top: 45px;
}

.sm > a {
  text-decoration: none;
}

.sm {
  display: flex;
  justify-content: flex-start;
  gap: 23px;
  margin-top: 20px;
}

.bRefs > a {
  text-decoration: none;
}

.bRefs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #373f48;
}
.phoneN {
  margin-top: 8px;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 21px;
  color: #373f48;
}

.booking {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 44px;
  background-color: #eac55e;
  border-radius: 4px;
  margin-left: 29px;
  margin-top: 8px;
}

.booking > a {
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #575c61;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

footer {
  display: flex;
  flex-direction: column;
  height: 381px;
}

.veryBottom {
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  height: 66px;
}

.copy {
  margin-left: 60px;
  font-style: normal;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  color: #373f48;
  margin-left: 60px;
}

h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: #373f48;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
