* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

header {
  height: 80px;
  background-color: #373f48;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/* header {
  justify-self: center;
} */

/* header > *:second-child {
  justify-self: center;
} */

.menu {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 35px;
  margin-left: 200px;
  /* justify-self: center; */
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 16px;
}

.service {
  color: #e9cd7b;
}

.Logo {
  padding: 25px 60px;
}

.button {
  margin-left: 200px;
}

.mainspace {
  height: 1200px;
  background-color: #f1f1f1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* padding-left: 164px; */
}

.refs {
  padding-top: 40px;
  margin-left: 164px;
}

h1 {
  padding-top: 83px;
  margin-left: 164px;
}

.textspace {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  max-width: 1110px;
  padding-top: 97px;
  gap: 88px 180px;
  margin-left: 164px;
}

.textspace > div {
  width: 240px;
  height: 90px;
}

.textspace > div > h2 {
  margin-bottom: 12px;
}

hr {
  display: flex;
  width: 1240px;
  margin-left: 60px;
  margin-top: 98px;
}

.bottomspace {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 140px;
  margin-left: 164px;
  margin-top: 45px;
}

.sm > a {
  text-decoration: none;
}

.sm {
  display: flex;
  justify-content: flex-start;
  gap: 23px;
  margin-top: 20px;
}

.bRefs > a {
  text-decoration: none;
}

.bRefs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
}
.phoneN {
  margin-top: 8px;
}

.booking {
  margin-left: 61px;
}

footer {
  display: flex;
  height: 66px;
  background-color: #e6e6e6;
  align-items: center;
}

.copy {
  margin-left: 60px;
}
